@import url(./normalize.css);

:root {
  --primary-Cyan: hsl(179, 62%, 43%);
  --primary-Bright-Yellow: hsl(71, 73%, 54%);
  --neutral-Light-Gray: hsl(204, 43%, 93%);
  --neutral-Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  background: var(--neutral-Grayish-Blue);
}

.info-container {
  background: var(--neutral-Light-Gray);
  margin: 2rem;
  border-radius: 5px 5px 0 0;
}

.info-title {
  color: var(--primary-Cyan);
  padding: 2rem 0 0 2rem;
}
.deal {
  color: var(--primary-Bright-Yellow);
  padding: 0 2rem;
}
.info-deal {
  padding: 0 2rem 3rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
