@import url(./normalize.css);

:root {
  --primary-Cyan: hsl(179, 62%, 43%);
  --primary-Bright-Yellow: hsl(71, 73%, 54%);
  --neutral-Light-Gray: hsl(204, 43%, 93%);
  --neutral-Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 13px;
}
